*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "tahoma";
}

@font-face{
	font-family: "tahoma";
    src: url("../Fonts/tahoma.ttf");
}
html,body{
	height:100%;
}

.container{
	width:100%;
	max-width:1280px;
	margin:0 auto;
}
.clear{
	clear:both;
}

header{
	width:100%;
	padding:30px 2%;
	background:white;
}

header .logo{
	float:left;
	clear:both;
	width:200px;
}
header nav.menu-desktop{
	float:right;
	padding:38px 0;
}

header nav.menu-desktop ul {
	float:right;
	list-style-type:none;
}

header nav.menu-desktop ul li {
	float:left;
	padding:0 20px;
}

header nav.menu-desktop ul li:first-child a{
	color: rgb(255, 3, 3);
	border-bottom: 3px solid rgb(75, 174, 206);
}

header nav.menu-desktop ul li a{
	font-size:18px;
	text-transform:uppercase;
	font-style:italic;
	color:black;
	font-weight:bold;
	text-decoration:none;
}
/**Menu-mobile**/

header .container .menu-mobile{
	display:none;
	background-image:url(../img/icon_menu.png);
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	float:right;
	margin-top:14px;

}


header .container .menu-mobile:hover{
	margin-bottom:260px;
	transition:1s;
}

header .container .menu-mobile nav ul{
	transition:0.10s;
	opacity:0;

}
header .container .menu-mobile:hover nav ul{
	opacity:1;
	width:100%;
	z-index:999;
	text-align:center;
	position:absolute;
	left:0;
	top:122px;
	background-color:rgba(255, 255, 255, 0.863);

}


header .menu-mobile nav ul {
	width:100%;
	z-index:999;
	text-align:center;
	position:absolute;
	left:0;
	top:122px;
	background-color:rgba(255, 255, 255, 0.863);
	
}


header .menu-mobile nav ul{
	list-style-type:none;

}

header .menu-mobile nav ul li{
	display:block;
	padding:6px 0;
	
}

header .menu-mobile nav ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:purple;
	font-size:13px;
	font-weight:bold;
	color:brown;
	
	
}

header .menu-mobile nav ul li a:hover{
	border-bottom:4px solid lightblue;
}



/*****/ 






/**Banner**/

section.banner{
	width:100%;
}

section.banner .banner-main{
	width:100%;
	height:660px;
	background-color:black;
	background-image:url(../img/car.png);
	background-size:75% 100%;
	background-position:right bottom;
	background-repeat:no-repeat;
	padding-top:139px;
	padding-left:260px;
}

section.banner .banner-main .text-banner{
	width:100%;
	max-width:500px;
	float:left;
	height:400px;
	clear:both;
	
}

section.banner .banner-main .text-banner .text-banner-single{
	width:100%;
	background-image:url(../img/box-text.png);
	background-position:left;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:20px 0;
	margin:20px 0;
	
}

section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4){
	background-image:url(../img/box-white-text.png);
	background-position:left;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:20px 0;
	margin:20px 0;
	position:relative;
	top:0;
	left:-54px;
	
}

section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4) p{
	width:100%;
	color:black;
	font-size:20px;

}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(2){
	position:relative;
	left:-18px;
	top:0;
	background-size:75% 100%;
	padding:20px 0;
}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(3){
	position:relative;
	left:-33px;
	background-size:50% 100%;
	padding:20px 0;
	
}

section.banner .banner-main .text-banner p{
	color:white;
	font-size:45px;
	text-transform:uppercase;
	padding-left:60px;
	font-style:italic;
	
}

section.banner .banner-main .text-banner .text-banner-single:nth-of-type(1) p{
	background-size:100%;
	
	
}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(2) p{
	position:relative;
	left:5px;

}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(3) p{
	position:relative;
	left:0;
	
}
/****/


/**Section**/

section.montra {
	width:100%;
	height:auto;
	max-width:1000px;
	margin:0 auto;
	margin-top:100px;
}

section.montra .text-montra{
	position:relative;
	top:0;
	left:0;
	text-align:center;
}
section.montra .text-montra .linha{
	width:100%;
	border:1px solid black;
	position:absolute;
	left:0;
	top:15px;
	
}
section.montra .text-montra h2{
	background-color:white;
	position:relative;
	display:inline-block;
	margin-right:-4px;
	text-align:center;
	font-size:27px;
	text-transform:uppercase;
	padding:0 20px;
	font-style:italic;
}


section.montra .vitrine{
	width:33%;
	float:left;
	padding:25px 20px;
	margin-top:60px;
}

section.montra .vitrine  .carros-img{
	width:100%;
	padding-top:100%;
}


section.montra .vitrine .text-carros{
	width:100%;
	height:90px;
	
	
}
section.montra .vitrine .text-carros h2{
	width:100%;
	color:black;
	font-size:20px;
	text-align:left;
	font-style:italic;
	margin:10px 0;
	display:inline-block;
}
section.montra .vitrine .text-carros p {
	width:100%;
	display:inline-block;
	color:#353535;
	font-size:19px;
	text-align:left;
	font-style:italic;
	
}

section.montra .vitrine .botao {
	width:100%;
	margin-top:20px;

}



section.montra .vitrine .botao input[type=button]{
	max-width:153px;
	height:43px;
	background-color:#EB2D2D;
	color:white;
	font-size:20px;
	border:0;
	padding:24px 8px;
	cursor:pointer;
	line-height:0;
	font-style:italic;
}

section.montra .vitrine .botao a {
	text-decoration:none;
}


section.montra .vitrine:nth-of-type(2) .carros-img{
	background-image:url(../img/carro-1.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	
}
section.montra .vitrine:nth-of-type(3) .carros-img{
	background-image:url(../img/carro-2.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	
}
section.montra .vitrine:nth-of-type(4) .carros-img{
	background-image:url(../img/carro-3.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	
}



Section.servicos{
	width:100%;
	display:flex;
	margin:100px 0;
}

section.servicos .todos-servicos-1{
	width:50%;
	padding:90px 4% ;
	background-color:#242424;
	text-align:center;
}
section.servicos .todos-servicos-1 .servicos-single{
	display:inline-block;
}
section.servicos .todos-servicos-1 .servicos-single h2{
	color:white;
	text-align:left;
	font-size:35px;
	font-weight:normal;
	text-transform:uppercase;
	padding:20px 0;
}
section.servicos .todos-servicos-1 .servicos-single ul {
	list-style-position:inside;
	text-align:left;
	position:relative;
	left:10px;
	display:inline-block;
}
section.servicos .todos-servicos-1 .servicos-single li {
	color:white;
	font-size:24px;
	padding:5px 0;
	
}



section.servicos .todos-servicos-1 .servicos-single a{
	text-decoration:none;
}
section.servicos .todos-servicos-1 .servicos-single input[type=button]{
	width:130px;
	height:48px;
	background:#EB2D2D;
	font-size:24px;
	color:white;
	font-style:italic;
	border:0;
	vertical-align:bottom;
	margin-left:30px;
	
	
}

section.servicos .todos-servicos-2{
	width:50%;
	background-color:#EB2D2D;
	padding:90px 70px;
	
}

section.servicos .todos-servicos-2 .servicos-single{
	max-width:596px;
	margin-bottom:30px;
	
}

section.servicos .todos-servicos-2 .servicos-single h2{
	font-size:35px;
	color:white;
	font-style:italic;
	text-transform:uppercase;
	margin:30px 0;
}
section.servicos .todos-servicos-2 .servicos-single p{
	color:white;
	font-size:25px;
	font-style:italic;
}


section.servicos .todos-servicos-2 .arrows{
	float:left;
}
section.servicos .todos-servicos-2 .arrows img{
	margin:0 15px;
	cursor:pointer;
}

section.servicos .todos-servicos-2 .depoimentos{
	float:left;
}
section.servicos .todos-servicos-2 .depoimentos p{
	color:black;
	font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
	font-style:italic;
	
}

section.contacto{
	width:100%;
	margin-bottom:60px;
	margin-top:127px;
	padding:0 2%;
}
section.contacto .container {
	max-width:768px;
	
}

section.contacto .container .text-linha{
	position:relative;
	top:0;
	left:0;
	text-align:center;
}


section.contacto .container .text-linha .linha{
	width:100%;
	border:1px solid black;
	position:absolute;
	left:0;
	top:23px;
}

section.contacto .container .text-linha h2{
	position: relative;
    display: inline-block;
	margin-right:-4px;
    background: rgb(255, 255, 255);
    padding: 0 20px;
    font-size: 35px;
    text-transform: uppercase;
    font-style: italic;
}


section.contacto .container  form{
	width:100%;
}

section.contacto .container  form .w100{
	width:100%;
	margin:20px 0;
}

section.contacto .container  form .w100 textarea{
	width:100%;
	height:196px;
	padding:20px 30px;
}
section.contacto .container  form .w50{
	width:50%;
	float:left;
	margin:20px 0;
}

section.contacto .container  form .w100 input[type=text]{
	width:100%;
	height:44px;
	padding:28px 30px;
}
section.contacto .container  form .w50 input[type=email],section.contacto .container  form .w50 input[type=tel]{
	width:100%;
	height:44px;
	padding:28px 30px;
}
section.contacto .container  form .w50:nth-of-type(2){
	padding-right:10px;
}
section.contacto .container  form .w50:nth-of-type(3){
	padding-left:10px;
}

section.contacto .container form input,textarea{
	font-size:30px;
	border:2px solid #ddd;
}

section.contacto .container form .bt{
	width:100%;
	margin-top:23px;
	text-align:center;
}
section.contacto .container form .bt input[type=submit]{
	max-width:96px;
	height:49px;
	background:#EB2D2D;
	font-size:24px;
	color:white;
	cursor:pointer;
	display:inline-block;
	border:none;
	padding:15px 15px;
	line-height:0;
}

/**RESPOSNIVO**/

@media screen and (max-width: 1535px){
	section.banner .banner-main{
	width:100%;
	height:660px;
	background-color:black;
	background-image:url(../img/car.png);
	background-size:110% 100%;
	background-position:center;
	background-repeat:no-repeat;
	padding-top:139px;
	padding-left:68px;

}


section.banner .banner-main .text-banner .text-banner-single:nth-of-type(1){
		position:relative;
		left:-22px;
		top:0;
		background-size:60% 100%;
		padding:20px 0;
	}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(2){
		position:relative;
		left:-34px;
		top:0;
		background-size:50% 100%;
		padding:20px 0;
	}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(3){
		position:relative;
		left:-44px;
		background-size:35% 100%;
		padding:20px 0;
		
	}

section.banner .banner-main .text-banner p{
		color:white;
		font-size:30px;
		text-transform:uppercase;
		padding-left:44px;
		font-style:italic;
		text-align:left;
		
	}
	
	section.servicos .todos-servicos-2 .arrows{
	width:20%;
	float:left;
}
	
	
	
}

@media screen and (max-width: 1229px){
	
	section.servicos .todos-servicos-1{
	padding:90px 20px;
	text-align:left;
}
section.servicos .todos-servicos-1 .servicos-single{
	display:block;
}
section.servicos .todos-servicos-1 .servicos-single input[type=button]{
	display:block;
	width:100%;
	max-width:130px;
	height:48px;
	background:#EB2D2D;
	font-size:24px;
	color:white;
	font-style:italic;
	border:0;
	vertical-align:bottom;
	margin:20px 0;;
	
	
}


	
	section.servicos .todos-servicos-2 .arrows{
		float:none;
		width:100%;
		text-align:center;
		margin:15px 0;
	}
section.servicos .todos-servicos-2 .arrows img{
		margin:0 15px;
		cursor:pointer;
	}


section.servicos .todos-servicos-2 .depoimentos {
	float:none;
	text-align:center;
}

}


@media screen and (max-width: 980px){
		section.banner .banner-main {
		width:100%;
		height:500px;
		background-color:black;
		background-image:url(../img/car.png);
		background-size:cover;
		background-position:50% 100%;
		background-repeat:no-repeat;
		padding-top:8px;
		padding-left:40px;
	}

section.banner .banner-main .text-banner{
	max-width:500px;
	height:250px;
	
}

section.banner .banner-main .text-banner .text-banner-single{
		background-image:url(../img/box-text.png);
		background-position:left;
		background-repeat:no-repeat;
		background-size:100% 100%;
		padding:20px 0;
		margin:20px 0;
		
	}	

section.banner .banner-main .text-banner .text-banner-single:nth-of-type(1){
		position:relative;
		left:0;
		top:0;
		background-size:60% 100%;
		padding:20px 10px;
	}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(2){
		position:relative;
		left:0;
		top:0;
		background-size:50% 100%;
		padding:20px 10px;
	}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(3){
		position:relative;
		left:0;
		background-size:35% 100%;
		padding:20px 10px;
		
	}


section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4){
	background-image:url(../img/box-white-text.png);
	background-position:left;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:20px 0;
	margin:20px 0;
	position:relative;
	top:0;
	left:-14px;
	
}
}

@media screen and  (max-width: 854px ){
	
	section.montra .vitrine .text-carros{
		width:100%;
		height:163px;
	}
	
		
	Section.servicos{
		width:100%;
		display:flex;
		flex-direction:column;
	}

	section.servicos .todos-servicos-1{
		width:100%;
		padding:90px 0 ;
		background-color:#242424;
		text-align:center;
	}
	section.servicos .todos-servicos-1 .servicos-single{
		display:inline-block;

	}
	section.servicos .todos-servicos-1 .servicos-single h2{
		text-align:left;
		font-size:35px;
		
	}
	
	section.servicos .todos-servicos-1 .servicos-single input[type=button]{
		margin-left:30px;
	}
	
	
		
	section.servicos .todos-servicos-2{
		width:100%;
		background-color:#EB2D2D;
		padding:90px 70px;
		
	}

	section.servicos .todos-servicos-2 .arrows{
		float:left;
		width:100%;
		display:inline-block;
	}
	section.servicos .todos-servicos-2 .arrows img{
		margin:0 15px;
		cursor:pointer;
	}

	section.servicos .todos-servicos-2 .depoimentos{
		float:none;
		text-align:center;
		
	}
	section.servicos .todos-servicos-2 .depoimentos p{
		display:inline-block;
		color:black;
		font-size:24px;
		text-transform:uppercase;
		font-weight:bold;
		font-style:italic;
		
	}
		
		
		
	
}



@media screen and (max-width:713px){
		section.banner .banner-main {
		width:100%;
		height:500px;
		background-color:black;
		background-image:url(../img/car.png);
		background-size:cover;
		background-position:50% 100%;
		background-repeat:no-repeat;
		padding-top:8px;
		padding-left:20px;
	}


	section.banner .banner-main .text-banner{
		max-width:400px;
	}
	section.banner .banner-main .text-banner .text-banner-single:nth-of-type(1){
			position:relative;
			left:0;
			top:0;
			background-size:60% 100%;
			padding:20px 10px;
		}
	section.banner .banner-main .text-banner .text-banner-single:nth-of-type(2){
			position:relative;
			left:-9px;
			top:0;
			background-size:50% 100%;
			padding:20px 10px;
		}
	section.banner .banner-main .text-banner .text-banner-single:nth-of-type(3){
			position:relative;
			left:-16px;
			background-size:35% 100%;
			padding:15px 10px;
			
			
		}


	section.banner .banner-main .text-banner p{
		color:white;
		font-size:25px;
		text-transform:uppercase;
		padding-left:20px;
		font-style:italic;

		
	}
	section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4){
		position:relative;
		top:0;
		left:-16px;
	}
	section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4) p{
		font-size:17px;
		font-weight:bold;
	}

	header{
		padding:10px 20px;
		display:inline-block;
	}
	header .container nav.menu-desktop{
		display:none;
		
	}
	
	
	header .container .menu-mobile{
		display:block;
		
	}
	

}



@media screen and (max-width:580px ){
	
	section.montra .vitrine:nth-of-type(2){
		margin-top:46px;
	}
	section.montra .vitrine{
	width:80%;
	float:none;
	padding:0;
	margin-top:90px;
	margin:0 auto;
	}
	
	section.montra .vitrine  .carros-img{
	width:100%;
	padding-top:100%;
}


section.montra .vitrine .text-carros{
	margin:30px 0;
	width:100%;
	height:auto;
	text-align:center;
	
	
}
section.montra .vitrine .text-carros h2{
	width:100%;
	color:black;
	font-size:20px;
	font-style:italic;
	margin:10px 0;
	text-align:center;
}
section.montra .vitrine .text-carros p {
	width:100%;
	color:#353535;
	font-size:19px;
	text-align:center;
	font-style:italic;
	
}
section.montra .vitrine .botao {
	width:100%;
	text-align:center;
	margin:20px 0;

	}
	
section.contacto .container  form .w50{
	width:100%;
	float:none;
	margin:20px 0;
	}
section.contacto .container  form .w50:nth-of-type(2){
	padding-right:0;
}
section.contacto .container  form .w50:nth-of-type(3){
	padding-left:0;
}

section.contacto .container .text-linha h2{
    font-size: 25px;
	position:relative;
	top:6px;
	left:0;
    
}

section.contacto .container form input,textarea{
	font-size:20px;
	border:2px solid #ddd;
}


section.contacto .container .text-linha h2{
	
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
	left:14px;
}

	
	
}

@media screen and (max-width: 417px){
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4){
background-size:97% 100%;


}

section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4) p{
font-size:12px;
}

section.banner .banner-main .text-banner{
	max-with:280px;
}
section.banner .banner-main .text-banner p{
	font-size:20px;
	padding-left:5px;
}

section.servicos .todos-servicos-1 {
padding: 90px 6%;

}
section.servicos .todos-servicos-1 .servicos-single h2{
	text-align:left;
	font-size:25px;
	
}

section.servicos .todos-servicos-1 .servicos-single ul li{
		font-size:18px;
	}
	
	
	
section.servicos .todos-servicos-2{
	padding:90px 4%;
	
}

section.servicos .todos-servicos-2 .servicos-single{
	max-width:596px;
	margin-bottom:30px;
	
}

section.servicos .todos-servicos-2 .servicos-single h2{
	font-size:35px;
	color:white;
	font-style:italic;
	text-transform:uppercase;
	margin:30px 0;
}
section.servicos .todos-servicos-2 .servicos-single p{
	color:white;
	font-size:18px;
	font-style:italic;
}


section.servicos .todos-servicos-2 .arrows{
	float:left;
}
section.servicos .todos-servicos-2 .arrows img{
	margin:0 15px;
	cursor:pointer;
}

section.servicos .todos-servicos-2 .depoimentos{
	float:none;
}
section.servicos .todos-servicos-2 .depoimentos p{
	font-size:18px;
		
	}
	
	html{
		overflow-x:hidden;
	}
}
	
@media screen and ( max-width:300px ){


section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4) p{
font-size:12px;

}

section.banner .banner-main .text-banner p{
	font-size:16px;
}



}


@media screen and (max-width: 280px){
	section.banner .banner-main .text-banner p{
	font-size:14px;
}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4){
	display:none
}
section.banner .banner-main .text-banner .text-banner-single:nth-of-type(4) p{
display:none;

}

}